@import url("https://fonts.googleapis.com/css?family=ZCOOL+XiaoWei");
@import "./partials/colors";

* {
  margin: 0;
  padding: 0;
  font-family: "ZCOOL XiaoWei", serif;
  background-color: $dark-blue;
}

header {
  font-size: 3rem;
  font-weight: 700;
  text-align: center;
  padding: 1rem 0;
  background-color: white;
}

.container {
  color: white;

  .scoreboard {
    border: 3px solid white;
    margin: 1rem auto;
    width: 150px;
    height: 60px;
    border-radius: 2px;
    position: relative;

    .badge {
      background-color: $sluggish-red;
      text-align: center;
      width: 50px;
      height: 20px;
      padding: 2px;
      border-radius: 2px;
    }

    #user--badge {
      position: absolute;
      top: 20px;
      left: -30px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    #computer--badge {
      position: absolute;
      top: 20px;
      right: -30px;
    }

    .score {
      font-size: 2.5rem;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  } // end scoreboard

  .output--message {
    font-size: 2rem;
    text-align: center;
    margin: 1rem;
  }

  .choices {
    font-size: 1.5rem;
    text-align: center;
    margin: 1rem;
  }

  .game--icons {
    display: flex;
    justify-content: center;
    img {
      width: 100px;
      height: 100px;
      border: 2px solid white;
      border-radius: 50%;
      margin: 1rem;
      padding: 0.5rem;
      &:hover {
        cursor: pointer;
        background: $sluggish-red;
        transition: ease 0.25s;
      }
    }
  } // end game--icons

  .instruction--message {
    font-size: 1.2rem;
    text-align: center;
    margin: 0.5rem;
  }

  #reset--button {
    background: $dark-blue;
    color: white;
    padding: 0.3rem 0.7rem;
    font-size: 1.5rem;
    border-radius: 5px;
    display: block;
    margin: 1rem auto;
    &:hover {
      cursor: pointer;
      background: $sluggish-red;
      transition: ease 0.25s;
    }
  }
} //end container
